*{
    box-sizing: border-box;
    font-family:'Roboto Mono', monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle, #ed303c, #c12531, #961b25, #6e121a, #48090d);
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container button {
    cursor: pointer;
    font-size: 2rem;
    color: black;
    border: 0.1px solid;
}

.operador {
    background-color: #ff9c5b;
}

.numeral {
    background-color: #fad089;
}

.operador:hover {
    background-color: #fd8535;
}

.numeral:hover {
    background-color: #fabd54;
}

.igualdade:hover {
  
    background-color: #ebbe70;
}

.span-two {
    grid-column: span 2;
}

.grid-container .output {
    grid-column: 1 / -1;
    background: rgba(245, 99, 74, 0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.grid-container .output .previous-operand {
    color: rgba(49, 49, 49, 0.95);
    font-size: 1.5rem;
}

.grid-container .output .current-operand {
    color: black;
    font-size: 2.5rem;
}